MVCProject.WebUI/Connected Services/PTTTrack/PttTrack.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://Tracking.ptt.gov.tr/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://Tracking.ptt.gov.tr" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Tracking.ptt.gov.tr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Tracking.ptt.gov.tr/xsd">
      <xs:complexType name="Input">
        <xs:sequence>
          <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Output">
        <xs:sequence>
          <xs:element minOccurs="0" name="etgb_Date" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="etgb_No" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="outDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="trackingInf" nillable="true" type="ax21:TrackingInfo" />
          <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TrackingInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="barkodNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gonderi_durum_aciklama" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gonderi_durum_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="il" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="islem_saati" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="islem_tarihi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="merkez" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sube" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="teslim_alan" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ulke_ad" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax22="http://Tracking.ptt.gov.tr/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Tracking.ptt.gov.tr">
      <xs:import namespace="http://Tracking.ptt.gov.tr/xsd" />
      <xs:element name="Tracking">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inp" nillable="true" type="ax22:Input" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TrackingResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Output" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="TrackingRequest">
    <wsdl:part name="parameters" element="ns:Tracking" />
  </wsdl:message>
  <wsdl:message name="TrackingResponse">
    <wsdl:part name="parameters" element="ns:TrackingResponse" />
  </wsdl:message>
  <wsdl:portType name="PttTrackPortType">
    <wsdl:operation name="Tracking">
      <wsdl:input wsaw:Action="urn:Tracking" message="ns:TrackingRequest" />
      <wsdl:output wsaw:Action="urn:TrackingResponse" message="ns:TrackingResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PttTrackSoap11Binding" type="ns:PttTrackPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Tracking">
      <soap:operation soapAction="urn:Tracking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PttTrackSoap12Binding" type="ns:PttTrackPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Tracking">
      <soap12:operation soapAction="urn:Tracking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PttTrackHttpBinding" type="ns:PttTrackPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="Tracking">
      <http:operation location="Tracking" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PttTrack">
    <wsdl:port name="PttTrackHttpSoap11Endpoint" binding="ns:PttTrackSoap11Binding">
      <soap:address location="https://pttwssgt.ptt.gov.tr/PttDataUploadTracking/services/PttTrack" />
    </wsdl:port>
    <wsdl:port name="PttTrackHttpSoap12Endpoint" binding="ns:PttTrackSoap12Binding">
      <soap12:address location="https://pttwssgt.ptt.gov.tr/PttDataUploadTracking/services/PttTrack" />
    </wsdl:port>
    <wsdl:port name="PttTrackHttpEndpoint" binding="ns:PttTrackHttpBinding">
      <http:address location="https://pttwssgt.ptt.gov.tr/PttDataUploadTracking/services/PttTrack" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>